<div class="container">
  <h1>Welcome to a Fake Blog!</h1>
  <h4><a href="/all_posts">Show all posts</a></h4>
  <h4><a href="/all_tags">Show all tags</a></h4>
  <h4><a href="/create_post">Create a Post</a></h4>
  <form action="/find_post" method="POST">
    Find Post: <input type="text" name="name">
    <input type="submit" value="submit">
  </form> 

  

</div>
